body {
    margin: 0;
    padding: 0;
}

.tablaprincipal {
    display: flex;
}

.uno {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.menu-vertical {
    position: fixed;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-vertical a {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-vertical img {
    width: 25px;
    margin: 2%;
}

.uno {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dos {
    width: 85%;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    box-sizing: border-box;
    top: 0;
    margin-top: 0;
    background-color: #f5f8fa;
}

.tres {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}

.imagen-nombre {
    position: relative;
    display: flex;
    align-items: center;
}

.imagenesp {
    width: 20%;
    display: flex;
    align-items: center; 
    box-sizing: border-box;
    background-color: #f5f8fa;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    overflow: hidden;
}

.imagenesp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenesc {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    top: 0;
    margin-top: 0;
    background-color: #f5f8fa;
    align-items: center;

}

.imagenesc img {
    width: 100%;
}


.usuario {
    position: absolute;
    top: 50%;
    left:30%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.creador{
    color: #a6abaf;
    -webkit-text-stroke: 0.1px black;
}

.texto-subido {
    padding: 10px;
    background-color: white;
    border: 1px solid #e6ecf0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin:5%;
}

.comentarios-secundarios {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #e6ecf0;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.comentario-secundario {
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}

.botonimg{
    cursor: pointer;
    margin-left: 2%;
    width: 25px;
    margin-right: 1%;
}

.botontweet{
    width: 25px;

}